<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pergunta . me - Faça sua pergunta online!</title>
    
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap" rel="stylesheet">
    
        <!-- Styles - CSS -->
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/room.css">
        <link rel="stylesheet" href="styles/modal.css">
    
    </head>
<body>
    <div id="home" class="content">
        <header>
            <a>
                <img src="./images/logo.svg" alt="logo pergunta-me">
            </a>

        <div class="buttons">
            <div class="button outlined" id="room-id" data-id="333333">
                #333333
                <img src="/images/copy.svg" alt="Copiar número da sala">
            </div>
            <a href="#" class="button">
                <img src="/images/users2.svg" alt="Criar nova sala">
                Criar sala
            </a>
        </div>    
        </header>

        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>

                <form action="">
                    <label class="sr-only" for-id="question">O que você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                    <footer>
                        <div>
                            <img src="/images/lock.svg">
                            Esta pergunta é anônima
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <h2 class="sr-only">Perguntas realizadas</h2>

                <div class="questions">
                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user3.svg">
                            </div>
                            <div class="question">
                                <p>O que é o Javascript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div>
                                <a class="check" data-id="2">
                                    <img src="/images/check.svg" alt="Marcar como lida." id="check">
                                    Marcar como lida
                                </a>

                            </div>
                            <div>
                                <a class="delete" data-id="2">
                                    <img src="/images/trash.svg" alt="Excluir pergunta" id="delete">
                                    Excluir pergunta
                                </a>
                                
                            </div>
                        </div>                       
                    </div>

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user3.svg">
                            </div>
                            <div class="question">
                                <p>O que é o Typescript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div>
                                <a class="check" data-id="3">
                                    <img src="/images/check.svg" alt="Marcar como lida." id="check">
                                    Marcar como lida
                                </a>

                            </div>
                            <div>
                                <a class="delete" data-id="3">
                                    <img src="/images/trash.svg" alt="Excluir pergunta" id="delete">
                                    Excluir pergunta
                                </a>
                                
                            </div>
                        </div>                       
                    </div>

                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user4.svg">
                            </div>
                            <div class="question">
                                <p>O que é o Phyton?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="check">
                                <a>
                                    <img src="/images/check.svg" alt="Marcar como lida.">
                                    Marcar como não lida
                                </a>

                            </div>
                            <div>
                                <a class="delete" data-id="1">
                                    <img src="/images/trash.svg" alt="Excluir pergunta">
                                    Excluir pergunta
                                </a>
                                
                            </div>
                        </div>                       
                    </div>
                </div>
            </section>
        </main>

    </div>

    <!-- ========== MODAL ========== -->

    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja excluir esta pergunta?</p>

            <form action="#" method="POST">
                <label class="sr-only" for-id="password">Confirme sua senha</label>
                <input type="password" id="password" name="password" placeholder="Confirme sua senha">
                
                <div class="buttons">
                    <div class="button gray cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>


<script src="scripts/main.js" defer type="module">

</script>

</body>
</html>ooop