* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --red: #E83F5B;
    --white: #FAFAFA;
    --lightBlue: #E0ECFF;
    --blue: #3485FF;
    --backgroud:: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-medium: #D3D9E2;
    --gray-light: #E5EAF1;

    --hooverBlue: #5699FF;
    --hooverRed: #EA4B65;
    --hooverGray: #8794A7;

    font-size: 62.5%;
}

body{
    height: 100vh;
    background: var(--backgroud);
}

body, input, button, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    /*  font-family: 'Poppins', 'sans-serif';*/
    font-family: 'Open Sans', 'sans-serif';
}

.sr-only{
    display: none;
}

.content{
    width: min(112rem, 90%);
    margin: 0 auto;
}


/* ========== Input and buttons ========== */

input, button, .button{
    height: 5rem;
    border-radius: .8rem;
    font-family: 'Poppins';
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: filter .2s;
    padding: 1.3rem 3.2rem;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

button.outlined,
.button.outlined{
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue)
}

button.red,
.button.red{
    background-color: var(--red);
    color: var(--white);
    
    width: min(15.5rem, 90%);
}


button.gray,
.button.gray{
    background-color: var(--gray-light);
    color: var(--gray-dark);
    width: min(13.9rem, 90%);
    margin-right: .8rem;
}


button > img,
.button.outlined > img{
    margin-right: 1.2rem;
}

.content header{
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;
}

